body{
    margin: 0;
    background: black;
}
.header{
    height: 40vh;
    width: 100%;
    background-image: url(imagenes/gif.gif);
    background-repeat: no-repeat;
    background-position:center;
    font-family: 'Alata', sans-serif;
    font-family: 'Bebas Neue', cursive;
    
}
.logo{
    margin: 15px;
    height: 90px;
    width: 90px;
    border-radius: 45%;
}
.logo:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.titulito{
    font-size: 40px;
    color: #fff;
    display: inline;
    position:absolute;
    padding: 10px;
}

#paty-menu{
    display: none;
}

.icon{
    width: 40px;
    height: 40px;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-left: 1px solid #fff;
    s
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.lista{
    box-sizing: content-box;
    font-size: 30px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
a{
    display: block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
}

.menu li{
    border-right: 1px solid #fff;
}
.menu li:hover{
    background: rgba(0, 0, 0,0.3);
    transform: scale(1.3);
    transition-duration: 0.5s;
}

/* ----------- @MEDIAAAAAAA-------------*/

@media screen and (max-width: 900px) {
   header label {
       display: block;
       float: right;
       color: #fff;
       padding: 15px;
   }
   .menu{
       position: absolute;
       background:#0c0c0c;
       width:100% ;
       margin-left: 160%;
       transition: all 0.5s;
   }
   .lista{
       flex-direction: column;
   }
   .menu li{
       border-bottom: 1px solid black;
       
   }
   #paty-menu:checked ~ .menu{
       margin: 0;
       

   }
   .titulito{
       margin: 15px;
       text-align: left;
       color: #fff;
    
   }
   .menu li:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
}

@media screen and (max-width: 500px){
    .header{
        height: 20vh;
        width: 100%;
        background-image:none;
        background: #111;
        font-family: 'Alata', sans-serif;
        font-family: 'Bebas Neue', cursive;
        
    }
    .logo{
        margin: 5px;
        height: 90px;
        width: 90px;
        border-radius: 45%;
    }
    .titulito{
        font-size: 40px;
        color: #ccc;
        text-align: start;
        padding: 5px;
    }







}


/*ARTICLE CARUSEL*/


.carusel{
    margin:0;
    background-image: url(imagenes/bannergif.gif);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 130vh;
}

.titulo{
    margin: 0;
    font-family: 'Alata', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.0625rem;
    text-align: center;
    color: #0c0c0c;
    padding-top: 10px;
    position: static;
}

.slider{
    margin:auto;
    width: 100%;
    overflow: hidden;
}

.slider ul{
    display: flex;
    justify-content: center;
    padding: 0;
    width: 400%;
    animation-name: cambio;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.slider li{
    height: 100vh;
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}



@keyframes cambio{
    0% {margin-left:0}
    20% {margin-left: 0;}

    25% {margin-left:-100%;}
    45% {margin-left:-100%;}

    50% {margin-left:-200%;}
    70% {margin-left:-200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*-------@MEDIAAAAA---------*/


@media screen and (max-width: 900px){
    .carusel{
        height: 100vh;
    }
    .titulo{
        font-size: 3.0625rem;
    }
   
    .slider li{
        height: 70vh;
    }
   
    
}

@media screen and (max-width: 500px){
    .carusel{
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-position:top;
        background-size:initial;
        width: 100%;
        height: 130vh;
    }
    .carusel{
        height: 68vh;
    }
    .titulo{
        font-size: 2.0625rem;
    }

    .slider li{
        height: 45vh;
    }
   
}


/*SECTION GRID*/

.padrecontenedor {
    display: flex;
    width: 100%;
    height: 180vh;
    background: black;

}
.contenedor{
    width: 100%;
    margin:0 ;
    padding:30px ;
    display: grid;
    grid-gap: 25px;
    grid-template-columns:repeat(4, 2fr) ; 
    grid-template-rows:repeat(5, 2fr);
    grid-template-areas:"caja1 caja1 caja2 caja2"
                        "caja1 caja1 caja2 caja2"
                        "caja3 caja3 aside aside"
                        "caja3 caja3 aside aside"
                        "caja4 caja4 caja4 caja4";
}
.contenedor div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 5px;
    font-family: 'Alata', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #fff;
    background: whitesmoke;
}
.contenedor div:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 0.5s;
}
.contenedor .caja1{
    grid-area: caja1;
    background-image:url(imagenes/fondocarusel.jpg);
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
    

}


.contenedor .caja2{
    grid-area: caja2;
    background-image: url(imagenes/banner3.gif);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.contenedor .caja3{
    grid-area: caja3;
    background-image: url(imagenes/indumentaria.jpg);
    background-attachment:scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
.contenedor .caja4{
   grid-area: caja4;
   background: black;
   background-image: url(imagenes/cabecerra.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: contain;
   background-position: center;
}
.tickets{
    height:100px;
    width: 70vw;
}

.sidebar{
    display: block;
    margin: 0;
    background: #111;      
    border-radius: 5px;
    grid-area: aside;
    color: #ccc;
}
.sidebar h2{
    margin: 0;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Alata', sans-serif;
    font-family: 'Bebas Neue', cursive;
}
.spot{
    margin: auto;
    height:60vh ;
    width: 90%;
}
.spotifi{
    width: 100%;
    height: 330px;

}

@media screen and (max-width: 900px) {
    .padrecontenedor{
        height: 200vh;
    }
    .contenedor{
        grid-gap: 15px;
        grid-template-columns:repeat(3, 2fr) ; 
        grid-template-rows:repeat(5, 2fr);
        grid-template-areas: "caja1 caja1 caja1"
                             "caja2 caja2 caja2"
                             "caja3 caja3 caja3"
                             "aside aside aside"
                             "aside aside aside"
                             "caja4 caja4 caja4";
    }
    .contenedor div{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    .spot{
        margin: auto;
        height:50vh ;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .spotifi{
        margin: 0;
        height: 50vh;
    
    }

}

@media screen and (max-width: 500px){
    .padrecontenedor{
        height: ;
    }
    .contenedor{
        grid-gap: 15px;
        grid-template-columns:repeat(2, 1fr) ; 
        grid-template-rows:repeat(6, 2fr);
        grid-template-areas: "caja1 caja1"
                             "caja2 caja2"
                             "caja3 caja3"
                             "aside aside"
                             "aside aside"
                             "aside aside"
                             "caja4 caja4";
    }
    .contenedor div{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    .spot{
        margin: auto;
        height:65vh ;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .spotifi{
        margin: 0;
        height: 65vh;
    
    }
    .contenedor .caja4{
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: contain;
        background-position: top;
     }
     .tickets{
         height:80px;
     }

}





/*--------GPS MAPA----------*/
.gps{
    height: 80vh;
    width: 100%;
    background-image: url(imagenes/river.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa{
    height: 70%;
    width: 70%;
}
.mapa:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
}
@media screen and (max-width: 900px){
    .gps{
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mapa{
        width: 70%;
    }

}
@media screen and (max-width: 500px){
    .mapa{
        width: 90%;
    }

}













/*FOOTER*/ 

.pie{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    bottom: 0px;
    height: 70vh;
    width: 100%;
    background: #111;
}

.boxpadre{
    display: flex;
}
    
.boxpadre .box{
    flex-basis: 50%;
    padding: 10px 20px;
    color: #ccc;
}
.box h3{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .contenido{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .contenido:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .contenido:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .contenido p{
    text-align: justify;
    font-family: 'Alata', sans-serif;
  }
  .center .contenido{
      list-style: none;
      display:block;
  }
  .center .contenido .text{
    font-size: 1.0625rem;
    font-weight: 500;
  }
  .contenido .redes{
      display: flex;
      align-items: center;
      cursor: pointer;
  }
  .contenido .redes:hover{
      transform: scale(1.1);
      transition-duration: 0.3s;
  }

  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form input {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .msg .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .msg textarea{
      resize: none;
      width: 100%;
      font-size: 1.0625rem;
      background: #151515;
      padding-left: 10px;
      border: 1px solid #222222;
  }
  

  .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    color: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .btn button:hover{
    background: #000;
  }


/*-------------MEDIAAAAAAAA-------------------*/

@media screen and (max-width: 900px) {
        .pie{
          height: 160vh;
          bottom: 0px;
        }
        .boxpadre{
          flex-wrap:wrap;
          flex-direction: column;
        }
        .boxpadre .box{
          margin: 10px 0;
        }
        
      }

   
    
